{% include 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<h1 class="h3  align-middle mb-3 ml-3">Evaluar Prospecto</h1>
<form method="post">
  {% csrf_token %}


  <div class="row">

    <div class="col-md-3 ml-3">


      <div class="form-group">
        <label for="exampleFormControlInput1">Nombre:</label>
        <input type="text" class="form-control" id="" name="" placeholder="" value="{{ nombre }}" disabled>

      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Apellidos:</label>
        <input type="text" class="form-control" id="" name="" placeholder="" value="{{ apellidos }}" disabled>

      </div>
      <div class="form-group">
      {{ form.estatus|as_crispy_field }}
      {{ form.observaciones|as_crispy_field }}
    </div>


      

    <div class="col-md-3">

     
      <!--  <div class="form-group">
      <label for="exampleFormControlFile1">Documento</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div> -->

    </div>


  </div>
  </div>
  <div class="ml-3">
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a type="button" class="btn btn-default" href="{% url 'prospectos' %}">Regresar</a>
  </div>
</form>


<br><br>






{% endblock content %}


{% include 'footer.html' %}